* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
}

body {
  padding: 40px;
  padding-top: 10px;
}

.whole {
    background-image: linear-gradient(rgba(255, 255, 255, 0.6), rgb(255, 255, 255, 0.6)),

        url(../img/sliderimg02.jpg);
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

.main-carousel {
    padding-top: 150px;
}

nav {
    display: flex;
    justify-content: space-around;
    gap: 25em;
    background-color: transparent;
    align-items: center;
    /* height: 50px; */
    padding-top: 20px;
    position: fixed;
    background-color: #ffffff;
    border-radius: 5px;
    width: 95%;
    z-index: 2;
}

nav ul {
    display: flex;
    gap: 2em;
    list-style-type: none;
    font-size: 19px;
    font-weight: bold;
    align-items: center;
    text-align: center;
}

ul li a {
    text-decoration: none;
    color: #f26e01;
    transition: all 10s ease ease-in-out;
}

/* Dropdown */
.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 300px;
    box-shadow: 0px 8px 16px 0px rgba(242, 109, 1, 0.19);
    padding: 15px 16px;
    z-index: 1;
    border-top: 4px solid #f26e01;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown-content a{
    color: #f26e01;
}

/* Dropdown */

ul .st {
    background-color: #fffffffb;
    border: 2px solid #f26e01;
    width: 100px;
    height: 40px;
    border-radius: 20px;
    cursor: pointer;
}

ul .st a {
    text-decoration: none;
    color: #f26e01;
    font-size: 16px;
}

ul .st:hover{
    background-color: #f26e01;
}

ul .st a:hover{
    color: #ffffff;
}

ul .ls {
    background-color: #f26e01;
    border: none;
    border-radius: 20px;
    width: 100px;
    height: 40px;
    cursor: pointer;
}

ul .ls:hover{
    background-color: #ffffff;
    border: 2px solid #f26e01;
}

ul .ls a:hover{
    color: #f26e01;
}

ul .ls a {
    text-decoration: none;
    color: white;
    font-size: 16px;
}


nav ul li a:hover {
    color: #f26e01;
}

.text-slider {
    margin-top: 40px;
}

/* Carousel start */
.cell {
    width: 100%;
    height: 280px;
    overflow: hidden;
    position: relative;
    text-align: center;
    font-size: 27px;
    padding-top: 130px;
    background-color: #ffffff11;
    /* margin: 5px; */
    color: white;
}

/* Carousel ends */

.who {
    display: flex;
    justify-content: space-around;
    gap: 2em;
    padding-top: 50px;
    margin-top: 20px;
    border-radius: 20px;
    background-color: #f26e01;
    height: 400px;
}

.who h1 {
    font-size: 45px;
    border-bottom: 5px solid black;
    width: 290px;
    color: #ffffff;
}

.who p {
    font-size: 20px;
    color: #ffffff;
}

.who img {
    border-radius: 12px;
}

.we {
    padding-left: 50px;
}

.com {
    padding-right: 70px;
}

.what {
    padding-bottom: 40px;
    margin-top: 20px;
    background-color: #ffffff;
    border: 2px solid #f26e01 ;
    border-radius: 20px;
}

.what h1 {
    font-size: 40px;
    margin-top: 30px;
    text-align: center;
}

.do {
    display: flex;
    justify-content: space-around;
}

.see {
    background-color: #f26e01;
    width: 500px;
    height: 350px;
    padding: 40px;
    color: #ffffff;
}

.see h2 {
    font-size: 30px;
    text-align: center;
}

.see p {
    font-size: 20px;
}

.seee {
    background-color: crimson;
    width: 500px;
    height: 350px;
    padding: 40px;
    color: #ffffff;
}

.seee h2 {
    font-size: 30px;
    text-align: center;
}

.seee p {
    font-size: 20px;
}

/* ///////////////////////////////////////////////////////////////////////// */

.one {
  width: 100%;
  height: 70vh;
  background-color: #f26e01;
  border-radius: 20px;
  display: flex;
  align-items: center;
  margin-top: 90px ;
  justify-content: space-evenly;
}

.chose {
  text-align: center;
  border-bottom: 4px solid #ffffff;
  color: #ffffff;
  width: 300px;
  font-size: 28px;
  text-transform: capitalize;
  font-weight: 700px;
  margin-left: 400px;
}
.same {
  margin-top: 25px;
  color: #ffffff;
  font-size: 16px;
  font-style: italic;
}

.join {
  padding: 15px 40px;
  text-align: center;
  margin-left: 440px;
  margin-top: 15px;
  background-color: #ffffff;
  border: 2px solid #ffffff;
  color: #f26e01;
  text-transform: capitalize;
  font-size: 16px;
  border-radius: 10px;
  border: none;
}

.join:hover {
  border: 2px solid #ffffff;
  background-color: #f26e01;
  color: #ffffff;
}

.Slides {
  width: 400px;
  height: 470px;
  border-radius: 20px;
}

#red {
  background-color: red;
}

#yellow {
  background-color: yellow;
}

#blue {
  background-color: blue;
}

.two {
  margin-top: 10px;
  width: 100%;
  border: 2px solid #f26e01;
  border-radius: 20px;
  height: 60vh;
  padding: 8px;
  display: flex;
}

.sub-sec {
  width: 23%;
  height: 90%;
  margin: 20px;
}

.img {
  width: 150px;
  height: 80px;
  margin-top: 10px;
  border-bottom: 2px solid #f26e01;
  padding-bottom: 4px;
  margin-left: 80px;
}

.sub-sec p {
  margin: 14px;
  font-size: 15px;
  color: #f26e01;
  /* text-align: right; */
  font-weight: 500;
  text-transform: capitalize;
}

.sub-sec h4 {
  text-transform: uppercase;
  font-size: 20px;
  color: #f26e01;
  text-align: center;
  margin-left: 40px;
  margin-top: 20px;
  margin-bottom: 20px;
  width: 200px;
  border-bottom: 2px solid #f26e01;
}
.links {
  margin-top: 30px;
  margin-left: 30px;
}
.links .fa-brands {
  font-size: 28px;
  margin-right: 10px;
  color: #f26e01;
}

.links .fa-brands:hover {
  color: #f26e01;
  font-size: 20px;
}

.bos {
  width: 500px;
  height: 500px;
  /* background-color: gray; */
}

.sub-sec-two {
  width: 23%;
  height: 90%;
  margin: 20px;
}

.sub-sec-two h4 {
  margin-top: 40px;
  text-align: center;
  width: 140px;
  margin-left: 130px;
  text-transform: uppercase;
  color: #f26e01;
  margin-bottom: 35px;
  padding-bottom: 4px;
  border-bottom: 2px solid #f26e01;
}

.under:hover {
  color: #f26e01;
  font-size: 18px;
}

.sub-sec-two li {
  color: #f26e01;
  font-size: 16px;
  margin-left: 140px;
  width: 100px;
  font-style: italic;
  transition: all 0.4s;
}

.sub-sec-two li:hover {
  border-bottom: 2px solid #f26e01;
  color: #f26e01;
  font-size: 20px;
}

.sub-sec-three {
  width: 23%;
  height: 90%;
  margin: 20px;
}

.sub-sec-three h4 {
  margin-top: 40px;
  text-align: center;
  width: 140px;
  margin-left: 130px;
  text-transform: uppercase;
  color: #f26e01;
  margin-bottom: 35px;
  padding-bottom: 4px;
  border-bottom: 2px solid #f26e01;
}

.sub-sec-three li {
  color: #f26e01;
  font-size: 16px;
  margin-left: 140px;
  width: 100px;
  font-style: italic;
  transition: all 0.4s;
}

.sub-sec-three li:hover {
  border-bottom: 2px solid #f26e01;
  color: #f26e01;
  font-size: 20px;
}
/*  */

form {
  width: 340px;
  height: 420px;
  border-radius: 20px;
  background-color: #f26e01;
  text-align: left;
  padding-top: 15px;
  /* margin: 40px auto; */
}

.sign {
  margin-top: 0px;
  margin-bottom: 15px;
  font-size: 20px;
  text-align: center;
  font-family: 'Lexend', sans-serif;
  color: #ffffff;
}

label h4 {
  margin-left: 20px;
  margin-top: 10px;
  font-family: 'Raleway', sans-serif;
  color: #ffffff;
}

input {
  width: 250px;
  height: 40px;
  margin-left: 40px;
  margin-bottom: 10px;
  border: #f0f8ff0b;
  color: #fff;
  font-family: 'Relway';
  background-color: #f0f8ff0b;
  border-bottom: 2px solid #ffffff;
  text-align: center;
  outline-color: 1px solid #ffffff;
  outline: none;
}

.button {
  width: 200px;
  height: 40px;
  text-align: center;
  margin-left: 70px;
  background-color: #ffffff;
  border-radius: 10px;
  font-family: 'Raleway', sans-serif;
  text-transform: uppercase;
  font-size: 18px;
  color: #f26e01;
  cursor: pointer;
  border: none;
}

.button:hover {
  color: #ffffff;
  background-color: #f26e01;
  border: 2px solid #ffffff;
}

.acct {
  text-decoration: underline;
  margin-top: 10px;
  color: #ffffff;
  font-size: 14px;
  font-family: 'Lexend', sans-serif;
  text-align: center;
  cursor: pointer;
}

.link {
  margin-left: 30px;
  margin-top: 10px;
  margin-bottom: 0px;
  width: 280px;
  height: 40px;
  text-align: center;
  padding-top: 10px;
  border-radius: 20px;
  margin-top: 15px;
  background-color: #ffffff;
  color: #f26e01;
  cursor: pointer;
}

.link:hover {
  background-color: #f26e01;
  color: #ffffff;
  border: 2px solid #ffffff;
}
